.menu{
    display: flex;
    justify-content:space-evenly;
    background-color:indianred;
    border: dashed bisque;
}

.bodyimg{
    text-align: center;
}

.instructions{
    position: absolute;
    top: 30%;
}

.origami{
    display: flex;
    flex-wrap: wrap;
}

.camel,.chameleon,.cicada,.panda,.pigeon,.bear{
    width: 400px;
    border: dashed indianred;
    border-radius: 60px;
    background-color: bisque;
    box-shadow: inset 5px 5px 50px indianred;
}

body{
    background-color: rgb(255, 172, 172);
}

*{
    color:#75002b;
    font-family: garamond;
    font-size: 21px;
    font-weight: 1000;
}